.SS {
	width: 350px;
	height: 150px;
	background-color: blue;
	position: absolute;
	top: 100px;
	left: 100px;
	color: white;
}

.rel {
	width: 350px;
	height: 150px;
	background-color: salmon;
	position: relative;
	top: 200px;
	left: 100px;
	color: white;
}

.rel > span {
	position: absolute;
	top: 10px;
	left: 10px;
}

header {
	padding: 20px;
	height: 40px;
	background-color: #9a9aff;
	color: white;
	position: fixed;
	top: 0px;
	z-index: 1;
	width: 100%;
}


body {
	background-color: gray;
}


.card {
	margin: 40px;
	width: 360px;
	height: 360px;
	background-color: white;
	border-radius: 10%;
}

.card img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.card .photo {
	position: relative;
}

.photo > p {
	position: absolute;
	color: white;
	font-size: 20px;
	font-weight: 700;
	top: 32px;
	left: 41px;
}

.texts {
	margin-top: 68px;
	margin-left: 37px;
}

.card > h6 {
	font-size: 10px;
	font-weight: 700;
	color: #8A8787;
}